/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */

/* font-family: 'Outfit', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*,*::before,*::after{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
:root{
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);

};

body{
  box-sizing:inherit;
  }


p{
  font-size:15px;
  }

img{
  width:100%;
  border-radius:0.8rem;
}
.flex{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh; 
  background-color:var(--Light-gray);
}
.container{
  max-width:325px;
  padding:1rem 1rem 1.5rem;
  border-radius:1rem;
  background-color:var(--White);
  } 

.about_qr{
  padding:1rem  0.8rem;
  text-align:center;
  }

.about_qr h3{
  font-size:1.5rem;
  margin:0.5rem 0 1rem;
}  

.about_qr p{
  color:var(--Grayish-blue);
  padding:0 .3rem;
}




